examples/basic-flows.json
[
  {
    "id": "pgvector-flow",
    "type": "tab",
    "label": "pgvector demo",
    "disabled": false,
    "info": "Demo flows for pgvector nodes"
  },
  {
    "id": "config-node",
    "type": "pgvector-config",
    "name": "pg",
    "host": "localhost",
    "port": 5432,
    "database": "postgres",
    "ssl": false,
    "max": 10,
    "user": "postgres",
    "password": "postgres"
  },
  {
    "id": "create-table",
    "type": "pgvector-admin",
    "z": "pgvector-flow",
    "name": "create table",
    "connection": "config-node",
    "action": "create-table",
    "table": "items",
    "column": "embedding",
    "metric": "cosine",
    "dimension": 3,
    "wires": [[]]
  },
  {
    "id": "insert",
    "type": "pgvector-insert",
    "z": "pgvector-flow",
    "name": "insert",
    "connection": "config-node",
    "table": "items",
    "column": "embedding",
    "idColumn": "id",
    "dimension": 3,
    "wires": [["search"]]
  },
  {
    "id": "inject",
    "type": "inject",
    "z": "pgvector-flow",
    "name": "demo payload",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "json",
    "payload": "{\"vector\":[0.1,0.2,0.3],\"metadata\":{\"category\":\"demo\"}}",
    "wires": [["insert"]]
  },
  {
    "id": "search",
    "type": "pgvector-search",
    "z": "pgvector-flow",
    "name": "similarity search",
    "connection": "config-node",
    "table": "items",
    "column": "embedding",
    "metric": "cosine",
    "limit": 5,
    "normalize": true,
    "dimension": 3,
    "select": "*",
    "where": "",
    "wires": [["debug"]]
  },
  {
    "id": "debug",
    "type": "debug",
    "z": "pgvector-flow",
    "name": "results",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 280,
    "wires": []
  }
]
