examples/complete-example.json
[
  {
    "id": "complete-example-tab",
    "type": "tab",
    "label": "Complete Example",
    "disabled": false,
    "info": "Complete end-to-end example demonstrating all pgvector capabilities.\n\nWorkflow:\n1. Setup database (extension, table, index)\n2. Insert sample product embeddings\n3. Perform similarity searches\n4. Run custom queries\n\nStart by deploying and clicking the setup buttons in order."
  },
  {
    "id": "pgvector-config-complete",
    "type": "pgvector-config",
    "name": "PostgreSQL pgvector",
    "host": "postgres",
    "port": 5432,
    "database": "vectordb",
    "ssl": false,
    "max": 10,
    "credentials": {
      "user": "nodered",
      "password": "nodered123"
    }
  },
  {
    "id": "inject-extension",
    "type": "inject",
    "z": "complete-example-tab",
    "name": "1. Create Extension",
    "props": [
      {
        "p": "action",
        "v": "create-extension",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 60,
    "wires": [["admin-complete"]]
  },
  {
    "id": "inject-table",
    "type": "inject",
    "z": "complete-example-tab",
    "name": "2. Create Products Table",
    "props": [
      {
        "p": "topic",
        "v": "CREATE TABLE IF NOT EXISTS products (id SERIAL PRIMARY KEY, name TEXT NOT NULL, description TEXT, price NUMERIC(10,2), category TEXT, embedding vector(384), created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP)",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 150,
    "y": 120,
    "wires": [["query-setup"]]
  },
  {
    "id": "inject-index",
    "type": "inject",
    "z": "complete-example-tab",
    "name": "3. Create HNSW Index",
    "props": [
      {
        "p": "topic",
        "v": "CREATE INDEX IF NOT EXISTS products_embedding_hnsw_idx ON products USING hnsw (embedding vector_cosine_ops)",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 140,
    "y": 180,
    "wires": [["query-setup"]]
  },
  {
    "id": "admin-complete",
    "type": "pgvector-admin",
    "z": "complete-example-tab",
    "name": "Admin Operations",
    "action": "create-extension",
    "table": "",
    "column": "",
    "metric": "cosine",
    "dimension": "",
    "indexName": "",
    "probes": 10,
    "connection": "pgvector-config-complete",
    "x": 390,
    "y": 60,
    "wires": [["debug-complete"]]
  },
  {
    "id": "query-setup",
    "type": "pgvector-query",
    "z": "complete-example-tab",
    "name": "Execute Setup Query",
    "sql": "",
    "connection": "pgvector-config-complete",
    "x": 410,
    "y": 150,
    "wires": [["debug-complete"]]
  },
  {
    "id": "insert-products",
    "type": "inject",
    "z": "complete-example-tab",
    "name": "Insert Sample Products",
    "props": [
      {
        "p": "payload",
        "v": "[{\"name\":\"Wireless Headphones\",\"description\":\"Premium noise-cancelling headphones\",\"price\":299.99,\"category\":\"electronics\"},{\"name\":\"Running Shoes\",\"description\":\"Lightweight athletic running shoes\",\"price\":129.99,\"category\":\"sports\"},{\"name\":\"Coffee Maker\",\"description\":\"Programmable drip coffee maker\",\"price\":49.99,\"category\":\"kitchen\"}]",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 280,
    "wires": [["generate-embeddings"]]
  },
  {
    "id": "generate-embeddings",
    "type": "function",
    "z": "complete-example-tab",
    "name": "Pad vectors to 384 dims",
    "func": "// Generate 384-dim vectors for products\n// In production, use real embeddings from OpenAI, etc.\nmsg.payload = msg.payload.map(product => {\n  const baseVec = [0.1, 0.2, 0.3, 0.15, 0.25];\n  while (baseVec.length < 384) {\n    baseVec.push(Math.random() * 0.1);\n  }\n  return {\n    name: product.name,\n    description: product.description,\n    price: product.price,\n    category: product.category,\n    vector: baseVec\n  };\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 280,
    "wires": [["insert-products-node"]]
  },
  {
    "id": "insert-products-node",
    "type": "pgvector-insert",
    "z": "complete-example-tab",
    "name": "Insert Products",
    "table": "products",
    "column": "embedding",
    "idColumn": "id",
    "dimension": "384",
    "connection": "pgvector-config-complete",
    "x": 590,
    "y": 280,
    "wires": [["debug-complete"]]
  },
  {
    "id": "search-similar",
    "type": "inject",
    "z": "complete-example-tab",
    "name": "Find Similar Products",
    "props": [
      {
        "p": "payload",
        "v": "{\"vector\":[0.12,0.22,0.28,0.16,0.24]}",
        "vt": "json"
      },
      {
        "p": "limit",
        "v": "3",
        "vt": "num"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 380,
    "wires": [["pad-search-vector"]]
  },
  {
    "id": "pad-search-vector",
    "type": "function",
    "z": "complete-example-tab",
    "name": "Pad to 384 dims",
    "func": "const vec = msg.payload.vector;\nwhile (vec.length < 384) {\n  vec.push(Math.random() * 0.1);\n}\nmsg.payload = { vector: vec };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 380,
    "wires": [["search-products-node"]]
  },
  {
    "id": "search-products-node",
    "type": "pgvector-search",
    "z": "complete-example-tab",
    "name": "Search Similar Products",
    "table": "products",
    "column": "embedding",
    "metric": "cosine",
    "limit": 3,
    "normalize": false,
    "dimension": "384",
    "select": "id, name, category, price, embedding <=> $1::vector as distance",
    "where": "",
    "connection": "pgvector-config-complete",
    "x": 540,
    "y": 380,
    "wires": [["format-search-results"]]
  },
  {
    "id": "format-search-results",
    "type": "function",
    "z": "complete-example-tab",
    "name": "Format Results",
    "func": "msg.payload = msg.payload.map(product => ({\n  id: product.id,\n  name: product.name,\n  category: product.category,\n  price: `$${product.price}`,\n  distance: parseFloat(product.distance).toFixed(4)\n}));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 750,
    "y": 380,
    "wires": [["debug-complete"]]
  },
  {
    "id": "query-count",
    "type": "inject",
    "z": "complete-example-tab",
    "name": "Count Products",
    "props": [
      {
        "p": "topic",
        "v": "SELECT COUNT(*) as total_products FROM products",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 120,
    "y": 480,
    "wires": [["query-stats-node"]]
  },
  {
    "id": "query-all",
    "type": "inject",
    "z": "complete-example-tab",
    "name": "Select All Products",
    "props": [
      {
        "p": "topic",
        "v": "SELECT id, name, category, price FROM products LIMIT 10",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 540,
    "wires": [["query-stats-node"]]
  },
  {
    "id": "query-stats-node",
    "type": "pgvector-query",
    "z": "complete-example-tab",
    "name": "Execute Query",
    "sql": "",
    "connection": "pgvector-config-complete",
    "x": 350,
    "y": 510,
    "wires": [["debug-complete"]]
  },
  {
    "id": "debug-complete",
    "type": "debug",
    "z": "complete-example-tab",
    "name": "Results",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 280,
    "wires": []
  }
]
